<div class="relative flex items-center w-full">
  <div
    class="absolute inset-y-0 left-0 pl-2.5 flex items-center pointer-events-none text-[#7C8796]"
  >
    <svg [size]="15" lucideSearch></svg>
  </div>

  <input
    (keydown.escape)="clear()"
    [formControl]="searchControl"
    class="w-full pl-8 pr-7 py-1.5 bg-white border border-[#D7DCE2] hover:border-[#C8D0D9] focus:border-[#8091A5] focus:ring-1 focus:ring-[#8091A5] text-xs font-normal text-[#20262E] placeholder-[#7C8796] rounded-md shadow-2xs focus:outline-none transition-all"
    placeholder="Пошук (назва, код, МВО, субрахунок)..."
    type="text"
  />

  @if (hasValue()) {
    <button
      (click)="clear()"
      class="absolute inset-y-0 right-0 pr-2 flex items-center text-[#7C8796] hover:text-[#20262E] transition-colors cursor-pointer"
      title="Очистити"
      type="button"
    >
      <svg [size]="14" lucideX></svg>
    </button>
  }
</div>
